body,
ul {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: #f2ffe6;
  text-decoration: none;
  font-family: sans-serif;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-weight: bolder;
}

a:hover {
  background: #f2ffe6;
  color: #1a1a1a;
  border-radius: 2px;
  border: 2px 2px 3px 2px;
  border-color: #f2ffe6;
}

#header { 
  height: 9vh;
  padding: 1rem; 
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: #1a1a1a;
}
.conteudo{
    padding: 0.5rem;    
    background-color: #1a1a1a;    
    display: flex;
    justify-content: center;   
    align-items: center;    
}
.paragrafo{
    font-family: sans-serif;
    color: #f2ffe6;
    font-size: 1rem;
    text-align: justify;    
    padding: 0 1rem 0 1rem;
    text-shadow: 0.2px 0.2px 0.4px black;
    display: flex;
    justify-content: center;
    flex-direction: column;      
    align-items: center;

}
.item{
  padding: 1rem;
}
.conteudo2{ 
  background-color: #1a1a1a;    
  display: flex;
  align-items: center;
  justify-content: center;     
  flex-direction: column;
}
.item-g{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 3rem;
  
}


#div_tit{     
  background-image: url("imagem/grey-city-background.jpg");
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;

}
#titulo{
height: 5vh;
width: 100%;
text-align: center;
color: #f2ffe6;
font-family: sans-serif;
font-size: 2rem;
text-shadow: 0.1em 0.1em 0.2em black
}
.titulo{
  height: 4vh;
  width: 100%;
  text-align:left;
  color: #f2ffe6;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-shadow: 0.1em 0.1em 0.2em black
}
.titulo2{
  height: 4vh;
  width: 100%;
  text-align: center;
  color: #f2ffe6;
  font-family: sans-serif;
  font-size: 1rem;
  text-shadow: 0.1em 0.1em 0.2em black

}
.subtitulo{
  height: 3vh;
  width: 100%;
  text-align: center;
  color: #f2ffe6;
  font-family: sans-serif;
  font-size: 1rem;
  text-shadow: 0.1em 0.1em 0.2em black

}
.div_cont{
    width:70%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1a1a1a;   
    
}
.rodape{
    
    height: 6vh;
    width: 100%;
    position: fixed;
	bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    background-color: #1a1a1a;

}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
  color: #f2ffe6;
}
img{
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px #f2ffe6;
}
.imagens2{
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-between;

}
.imagem{
  padding-bottom: 1rem;
}
.slider {
  display: block;
  height: 350px;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  position: relative;
  left: 50px;
}

.slider li {
  list-style: none;
  position: absolute;
}

.slider img {
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: top;
}
.slider input {
  display: none;
}
.slider label {
  background-color: white;
  bottom: 10px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.slider li:nth-child(1) label {
  left: 10px;
}
.slider li:nth-child(2) label {
  left: 30px;
}
.slider li:nth-child(3) label {
  left: 50px;
}
.slider li:nth-child(4) label {
  left: 70px;
}
.slider li:nth-child(5) label {
  left: 90px;
}
.slider li:nth-child(6) label {
  left: 110px;
}
.slider li:nth-child(7) label {
  left: 130px;
}
.slider li:nth-child(8) label {
  left: 150px;
}
.slider li:nth-child(9) label {
  left: 170px;
}
.slider li:nth-child(10) label {
  left: 190px;
}
.slider li:nth-child(11) label {
  left: 10px;
}
.slider li:nth-child(12) label {
  left: 30px;
}
.slider li:nth-child(13) label {
  left: 50px;
}
.slider li:nth-child(14) label {
  left: 70px;
}
.slider li:nth-child(15) label {
  left: 90px;
}
.slider li:nth-child(16) label {
  left: 110px;
}
.slider img {
  opacity: 0;
  visibility: hidden;
}

.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #1a1a1a;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid #bfbfbf
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after, #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  img {
    max-width:200px;
    max-height:150px;
    width: 200px;
    height:150px;
    padding: 0.5rem;
}
}